@charset "UTF-8";
/* Обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
  color: #bababa;
}

a:hover {
  text-decoration: none;
}

address {
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #181727;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  color: #bababa;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

p, h1, h2, h3, h4, ul {
  margin: 0;
  font-weight: normal;
}

img,
a {
  display: block;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

/* контент */
.wrap {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-content-wrap {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
}

a {
  font-weight: bold;
}

.header {
  width: 100%;
  background-color: #1234c4;
}

.header-flex {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__title-1 {
  font-family: "Michroma",sans-serif;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.header__subtitle {
  font-family: "Roboto Mono",monospace;
  margin: 0 0 20px 0;
}

.header__contacts {
  margin: 0 0 20px 0;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

.contacts__title-2 {
  margin: 0 0 10px 0;
}

.contacts__item {
  font-family: "Roboto Mono",monospace;
  margin: 0 0 5px 0;
}

.title-2 {
  font-family: "Roboto Mono",monospace;
  text-transform: uppercase;
}

.language__title-2 {
  margin: 0 0 10px 0;
}

.language__item {
  font-family: "Roboto Mono",monospace;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.navigation__list {
  border-top: 1px solid #bababa;
}

.navigation__item {
  width: 150px;
  border-bottom: 1px solid #bababa;
  padding: 10px 0;
}

.navigation__link {
  text-align: right;
  text-transform: uppercase;
  font-family: "Roboto Mono",monospace;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.size {
  font-size: 14px;
}

.about {
  background-color: #000000;
  padding: 30px 0 0 0;
}

.about__title-2 {
  margin: 0 0 30px 0;
}

.about__paragraph {
  font-family: "Michroma",sans-serif;
  font-size: 3vw;
  line-height: 4vw;
  letter-spacing: 1px;
  border-bottom: 2px solid #bababa;
  padding-bottom: 50px;
}

.inner-wrap {
  padding: 0 30px;
  margin: 0 0 30px 0;
}

.education {
  background-color: #000000;
}

.education__title-2 {
  margin: 0 0 30px 0;
}

.education__item {
  font-family: "Michroma",sans-serif;
  font-size: 2vw;
  line-height: 3vw;
  margin: 0 0 10px 0;
}

.education__item:last-child {
  border-bottom: 2px solid #bababa;
  padding-bottom: 50px;
}

.experience {
  background-color: #000000;
}

.experience__title-2 {
  margin: 0 0 30px 0;
}

.experience__paragraph {
  font-family: "Roboto Mono",monospace;
  margin: 0 0 10px 0;
}

.experience__link {
  font-family: "Michroma",sans-serif;
  font-size: 2vw;
  line-height: 3vw;
  margin: 0 0 10px 0;
}

.skills {
  background-color: #181727;
  padding: 30px 0 0 0;
}

.skills__title-2 {
  margin: 0 0 30px 0;
}

.skills__languages {
  margin: 0 0 50px 0;
  border-bottom: 1px solid #bababa;
}

.skills__communication-protocols {
  margin: 0 0 30px 0;
}

.title-3 {
  font-family: "Roboto Mono",monospace;
  margin: 0 0 30px 0;
}

.languages__core-js {
  margin: 0 0 20px 0;
}

.core-js__item {
  font-family: "Michroma",sans-serif;
  margin: 0 0 5px 45px;
  font-size: 1vw;
  line-height: 2vw;
  list-style-type: square;
  padding: 0 0 0 10px;
  letter-spacing: 1px;
}

.title-4 {
  font-family: "Roboto Mono",monospace;
  margin: 0 0 20px 0;
}

.languages__html {
  margin: 0 0 20px 0;
}

.html__item {
  font-family: "Michroma",sans-serif;
  margin: 0 0 5px 45px;
  font-size: 1vw;
  line-height: 2vw;
  list-style-type: square;
  padding: 0 0 0 10px;
  letter-spacing: 1px;
}

.languages__css {
  margin: 0 0 20px 0;
}

.css__item {
  font-family: "Michroma",sans-serif;
  margin: 0 0 5px 45px;
  list-style-type: square;
  font-size: 1vw;
  line-height: 2vw;
  padding: 0 0 0 10px;
  letter-spacing: 1px;
}

.communication-protocols {
  border-bottom: 1px solid #bababa;
  margin: 0 0 50px 0;
}

.communication-protocols__paragraph {
  font-family: "Michroma",sans-serif;
  font-size: 1vw;
  line-height: 2vw;
  letter-spacing: 1px;
  margin: 0 0 20px 0;
}

.tools__item {
  font-family: "Michroma",sans-serif;
  margin: 0 0 5px 0;
  font-size: 1vw;
  line-height: 2vw;
  letter-spacing: 1px;
}

.footer {
  background-color: #181727;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__time {
  font-family: "Roboto Mono",monospace;
}

.github__img {
  margin: 0 0 10px 0;
}

.github__link {
  font-family: "Roboto Mono",monospace;
  margin: 0 0 10px 0;
}

.rsschool__img {
  margin: 0 0 10px 0;
}

.rsschool__link {
  font-family: "Roboto Mono",monospace;
  margin: 0 0 10px 0;
}
